p{
    color:#7f888f;
}
.myhover:hover{
    background-color: #f56a6a;
}
.major{
    border-bottom:3px solid #f56a6a;
    display: inline-block;
    margin:0 0 2em 0;
    padding:0 0 0 0;
}

.diamond{
    position: absolute;
    /* width: 100px;line-height:100px; */
    width: 80px;
    height: 80px;
    text-align: center;
    color:#f56a6a;
  }

.mainColor{
    color:#f56a6a;
}
/* .diamont .icon{
    color:#f56a6a;
} */


.diamond:before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border:3px solid #e0e0e0;
    z-index:-1;
    transform: rotate(45deg);
  }

  .timeline-section {
    position: relative;

}

.timeline-section:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
    left: 50%;
    transform: translate(-50%)
}

.timeline-pointer {
    position: relative;
}

.timeline-pointer:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
    border: 3px solid #ccc;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%);
    border-radius: 50%;
    z-index: 1;
}

@media(max-width: 576px) {
    .timeline-pointer:after,
    .timeline-section:after {
        display: none;
    }
}

.footer ul{
    height: 100px;
    
}
.footer li{
    
    list-style: none;
    border-right:1px solid gray;
}

.footer a{
    color:gray;
    padding:0.5rem;
    
}

.header-carousel-item{
    height: 450px;

}

.bg-cover{
    background-size: cover;
    background-position: center center;
}

.carousel-caption{
    background-color: rgba(0,0,0,.6);
}

.top-line {
    /* width: 456px; */
    height: 3px;
    background-color: #0275D8;
    border: 8px solid #0275D8;
    border-top: 0;
    margin: 0 auto;
  }

  .progress {
    margin: 64px auto;
    width: 234px;
    height: auto;
    background: #FFFFFF;
    border: 2px solid #BEE1FF;
  }

  .progress>div {
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 2px solid #BEE1FF;
    border-radius: 16px;
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
  }
  
  .progress>div:nth-child(2) {
    margin-left: 70px;
  }
  
  .progress>div:nth-child(3) {
    margin-left: 148px;
  }
  
  .progress>div:nth-child(4) {
    margin-left: 226px;
  }
  
  .progress>.in {
    border: 2px solid #0275D8;
  }
  
  .progress>.in:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #0275D8;
    display: block;
    border-radius: 8px;
    margin-top: 2px;
    margin-left: 2px;
  }
  
  .progress>.in:before {
    content: '';
    display: block;
    position: absolute;
    width: 65px;
    background: #FFFFFF;
    border: 2px solid #0275D8;
    margin-top: 4px;
    margin-left: -65px
  }
  
  .progress>.in:first-child:before {
    display: none;
  }
  
  .progress>.in.done:after {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    content: "\f00c";
    width: 16px;
    height: 16px;
    margin: -2px;
    color: white;
    text-align: center;
  }

  .upload-box {
    margin-top: 16px;
    border: 2px solid #000000;
    border-radius: 8px;
    width: 460px;
    height: 140px;
    

  }
  
  .upload-box>i {
    width: 58px;
    height: 45px;
    font-size: 48px;
    text-align: center;
    margin-top: 48px;
    margin-left: 69px;
  }
  
  .upload-box>div {
    width: 235px;
    height: 48px;
    margin-top: 48px;
    margin-left: 20px;
    display: inline-block;
  }
  
  .upload-box+input {
    width: 460px;
    height: 140px;
    position: absolute;
    top: 16px;
    opacity: 0;
    cursor: pointer;
  }

  .list {
    align-items: flex-end;
  }

  .smile i {
    padding-top: 16px;
    width: 230px;
    height: 230px;
    font-size: 230px;
    margin: 0 auto;
    display: block;
    color: #BEE1FF;
  }
